[buildout]
parts = eggs activate print modwsgi template jsbuild cssbuild
develop = .
newest = false
prefer-final = true
extensions = buildout.dumppickedversions
versions = versions

develop-eggs-directory = buildout/develop-eggs
eggs-directory = buildout/eggs
parts-directory = buildout/parts
bin-directory = buildout/bin

[versions]
# list of the dependencies versions
# (to be copied from the dumppickedversions output)
evg.recipe.activate = 0.3

[vars]
# project instance id
instanceid =
# database user
dbuser = www-data
# database password
dbpassword = www-data
# database host
dbhost = localhost
# database port
dbport = 5432
# database name
db =
# project package name
package = osmqa
# project egg name
egg = osmqa

[eggs]
recipe = zc.recipe.egg
eggs = ${vars:egg}
dependent-scripts = true
interpreter = python
initialization =
    import paste.script.command
    for egg in ['MapFish', 'PasteScript', 'Pylons', 'osmqa']: paste.script.command.system_plugins.append(egg)

[activate]
recipe = evg.recipe.activate

[print]
recipe = iw.recipe.fetcher
base_url = http://dev.mapfish.org/maven/repository/org/mapfish/print/
files = print-standalone/1.2-SNAPSHOT/print-standalone-1.2-SNAPSHOT.jar

[modwsgi]
recipe = collective.recipe.modwsgi
eggs = ${vars:egg}
config-file = ${buildout:directory}/${vars:package}_prod.ini

[template]
recipe = z3c.recipe.filetemplate
source-directory = .
extends = vars

[jsbuild]
recipe = JSTools:buildjs
resource-dir = jsbuild
config = ${jsbuild:resource-dir}/app.cfg
output-dir = ${vars:package}/public/build
compress = True

[cssbuild]
recipe = c2c.recipe.cssmin
input = 
    ${vars:package}/public/lib/externals/ext/resources/css/ext-all.css
    ${vars:package}/public/lib/externals/ext/resources/css/xtheme-gray.css
    ${vars:package}/public/lib/externals/openlayers/theme/default/style.css
    ${vars:package}/public/lib/externals/geoext/resources/css/popup.css
    ${vars:package}/public/app/css/main.css
output = ${vars:package}/public/build/app.css
