<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Content-Language" content="${c.lang}" />

        <title>OSM QA App</title>
        
        <!--<link rel="shortcut icon" type="image/x-icon" href="${url('/app/images/favicon.ico')}" />-->

% if c.debug:
        <link rel="stylesheet" type="text/css" href="${url('/lib/externals/ext/resources/css/ext-all.css')}" />
        <link rel="stylesheet" type="text/css" href="${url('/lib/externals/ext/resources/css/xtheme-gray.css')}" />
        <link rel="stylesheet" type="text/css" href="${url('/lib/externals/openlayers/theme/default/style.css')}" />
        <!--<link rel="stylesheet" type="text/css" href="${url('/lib/externals/geoext/resources/css/popup.css')}" />-->
        <link rel="stylesheet" type="text/css" href="${url('/app/css/main.css')}" />
% else:
        <link rel="stylesheet" type="text/css" href="${url('/build/app.css')}" />
% endif

% if c.debug:
        <script type="text/javascript" src="${url('/lib/externals/ext/adapter/ext/ext-base.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/ext/ext-all-debug.js')}"></script>

        <!--<script type="text/javascript" src="${url('/lib/proj4js/proj4js.js')}"></script>-->
        <script type="text/javascript" src="${url('/lib/externals/openlayers/lib/OpenLayers.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/openlayers/lib/OpenLayers/Lang/fr.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext/lib/GeoExt.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/SimplePrint/lib/GeoExt.ux/SimplePrint.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/Measure/lib/GeoExt.ux/Measure.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/Measure/lib/GeoExt.ux/MeasureLength.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/Measure/lib/GeoExt.ux/MeasureArea.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/loadingPanel/lib/OpenLayers/Control/LoadingPanel.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/OpenStreetMap.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Lang/en.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Lang/fr.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Map.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/LayerTree.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Tools.js')}"></script>
        <!--<script type="text/javascript" src="${url('/app/lib/App/Print.js')}"></script>-->
        <script type="text/javascript" src="${url('/app/lib/App/Locator.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/DisplayZone.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Permalink.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Util.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/config.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/main.js')}"></script>
% else:
        <script type="text/javascript" src="${url('/build/app.js')}"></script>
        <script type="text/javascript" src="${url('/build/lang-%s.js' % c.lang)}"></script>
% endif
        <!--<script type="text/javascript" src="${url(controller='printer', action='info', var='printCapabilities', url=url(controller='printer', action='info'))}"></script>-->
        <script type="text/javascript">
            OpenLayers.ImgPath = "${url('/lib/externals/openlayers/img/')}";

            // uncomment this line if you use the OGC proxy
            //OpenLayers.ProxyHost = "${url(controller='ogcproxy', action='index', url='')}";

            Ext.BLANK_IMAGE_URL = "${url('/lib/externals/ext/resources/images/default/s.gif')}";
        </script>
    </head>

    <body>
        <!--<div id="header">
            <h1>MapFish Application Header</h1>
        </div>-->
    </body>
</html>
