html, body {
    background-color: white;
    font-family: tahoma, arial, verdana, sans-serif;
}
.app-accordion-body {
    padding: 3px;
}
.x-toolbar .maxExtent {
    background: url('../images/map_magnify.png') top left no-repeat;
}
.x-toolbar .mapZoomIn {
    background: url('../images/zoom_in.png') top left no-repeat;
}
.x-toolbar .mapZoomOut {
    background: url('../images/zoom_out.png') top left no-repeat;
}
.x-toolbar .mapHistoryPrevious {
    background: url('../images/arrow_left.png') top left no-repeat;
}
.x-toolbar .mapHistoryNext {
    background: url('../images/arrow_right.png') top left no-repeat;
}
.x-toolbar .mapMeasureLength {
    background: url('../images/ruler.png') top left no-repeat;
}
.x-toolbar .mapMeasureArea {
    background: url('../images/ruler_square.png') top left no-repeat;
}
.x-toolbar .mapMeasurePosition {
    background: url('../images/bullet_orange.png') top left no-repeat;
}
.x-toolbar .permalink {
    background: url('../images/permalink.png') top left no-repeat;
}
.olControlScaleLine {
    padding: 5px;
    bottom: 1em;
    left: 1em;
    background-color: rgba(255, 255, 255, 0.6);
}
.olControlAttribution {
    font-size: smaller; 
    right: 1em; 
    bottom: 1em; 
    position: absolute; 
    display: block;
}
.olControlLoadingPanel {
	background-image:url('../../lib/externals/loadingPanel/theme/default/img/loading.gif');
	position: relative;
	top:.5em;
	right:.5em;
	width: 195px;
	height: 11px;
	background-position:center;
	background-repeat:no-repeat;
	display: none;
}
.x-btn .allok {
    background: url('../images/tick.gif') top left no-repeat;
}
.x-btn .allnok {
    background: url('../images/error.gif') top left no-repeat;
}

#loading {
	position:absolute;
	top:0px;
	left:50%;
	background-color:#cccccc;
	color:#000000;
	z-index:10000;
	display:none;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	padding: 0 .3em .1em .3em;	
}

#tools {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1000;
	background-color:rgba(255, 255, 255, 0.6);
	border:1px solid #BBBBBB;
	padding:.5em;
}
#containerpanel {
    float: left;
}

.pad-left {
	padding-left: 5px;
}
.pad-bot {
	padding-bottom: 5px;
}

#tools .x-border-layout-ct  {
	background-color:rgba(0, 0, 0, 0);
}

.olControlZoomPanel  {
    left:15px;
    top:90px;
}